<section id="about-eyw" uk-modal>
    <div class="uk-modal-dialog about-eyw-modal">
            <button class="uk-modal-close-full">
                {% include icons.html icon="close" %}
            </button>
        <div class="about-eyw-content wrapper will-grow maxwidth-sm pos-rel">
            <h1 class="mb-1h">What is <span class="co-primary">eyowo</span>?</h1>
            <p>Eyowo is a digital solution that helps you achieve simple day-to-day financial transactions. With eyowo, you can transfer and receive money using just your phone number. <a href="http://eyowo.com/" class="co-primary">Learn more</a> </p>
        </div>
        
        <footer class="bg-gainsboro modal-footer wrapper will-grow negate-bottom absolute-bottom">
            <div class="absolute-right footer-vector">
                {% include icons.html icon="footer-vector" %}
            </div>
            <div class="maxwidth-sm pb-1 z-depth-1 pos-rel">
                <h2 class="smalltext m-0 co-primary mb-h">Enjoy eyowo!</h2>
                <div class="d-flx j-c-sb flx-wrap">
                    <p class="d-blk fw-bold co-rich-black cta"> Dial *4255#</p>
                    <div class="get-app">
                        {% include icons.html icon="google-play" %} 
                        {% include icons.html icon="app-store" %} 
                    </div>
                </div>
                <p class="picotext pt-2">Copyright © 2018 Softcom Ltd. All rights reserved.</p>
            </div>
        </footer>
    </div>
</section>