<section id="about-eyw" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="negate-bottom">
            <div class="wrapper will-grow maxwidth-500 mx-auto">
                <h1 class="fw-medium mediumtext mb-1h">What is <span class="co-primary">eyowo</span>?</h1>
                <a href="#" class="d-blk mb-1h">
                    {% include icons.html icon="logo" %}
                </a>
                <p class="nanotext mb-1">Eyowo is a digital solution that helps you achieve simple day-to-day financial transactions. With eyowo, you can transfer and receive money using just your phone number.</p>
        
                <p class="nanotext mb-2">You can also fund bank accounts, pay bills and request payments. Make cardless withdrawals from ATMs anywhere in Nigeria.</p>
        
                <a href="#" class="d-blk">
                    Got a question?
                </a>
            </div>
        
            <footer class="absolute-bottom bg-gainsboro wrapper py-2h site-footer">
                <div>
                    <h2 class="smalltext fw-medium m-0 co-primary mb-h">Experience eyowo</h2>
                    <p class="mb-h">
                        <span class="d-blk fw-bold co-rich-black cta">Dial <sup>*</sup>4255#</span>
                        <span class="nanotext">Dial <sup>*</sup>4255<sup>*</sup>100# on your mobile device and follow the prompts.</span>
                    </p>
                </div>
                <div class="get-app">
                    {% include icons.html icon="google-play" %} 
                    {% include icons.html icon="app-store" %} 
                </div>
            </footer>
        </div>
    </div>
</section>