// 
    // Global Footer

    // @package sfc
    // @author  Kabolobari Benakole <i@kb.life>

.modal-footer
    .get-app
        display: flex
        justify-content: flex-end
        svg
            width: 120px
            max-width: 140px
            margin-right: 10px
            &:last-of-type
                margin-right: 0
    .cta
        font-size: 2rem

.copyright-footer-largeup
    display: none
    position: absolute
    bottom: 0
    width: 100%
    @media #{ $largeup }
        display: flex
    .social-media-links
        display: block
        padding: 1rem 1.5rem