// 
    // Global Footer

    // @package sfc
    // @author  Kabolobari Benakole <i@kb.life>

.site-footer-largeup
    display:            none
    @media #{ $largeup }
        display:        block
    @media #{ $xlargeup }
        display:        flex
        align-items: center
        
