<!doctype html>
<html lang="en">
    {% include shell/head.html %}
    <body>
        <a class="skip-link sr" href="#mainContent">
            Skip to main content
        </a>
        <h1 class="sr">
            {{ site.title }}
        </h1>

        <div class="logo-bar wrapper will-grow negate-bottom">
            <div class="logo-bar-content d-flx j-c-sb al-i-c mx-auto">
                <a href="{{ site.title }}" class="d-blk logo">
                    {% include icons.html icon="logo" %}
                </a>
                
                <div class="about-eyw">
                    <a href="#about-eyw" class="about-eyw-icon bg-primary" uk-toggle>
                        {% include icons.html icon="help" %}
                    </a>
                </div>
            </div>
        </div>
        <main class="is-main">
            <section class="wrapper will-grow is-main-content">
                <div class="is-main-content-wrapper">
                    <figure class="cloud-animation">
                        <ul class="none m-0">
                            <li>
                                <img alt="Perl" src="/uploads/love_1.svg" class="has-loaded">
                            </li>
                            <li>
                                <img alt="Perl" src="/uploads/love_2.svg" class="has-loaded">
                            </li>
                            <li>
                                <img alt="Perl" src="/uploads/love_3.svg" class="has-loaded">
                            </li>
                            <li>
                                <img alt="Perl" src="/uploads/love_4.svg" class="has-loaded">
                            </li>
                            <li>
                                <img alt="Perl" src="/uploads/love_5.svg" class="has-loaded">
                            </li>
                        </ul>
                    </figure>
                    <h1 class="headline">If Eyowo seems like it's tailor-made for you, that's because it is. See what others are saying <span class="suffix arrow">{% include icons.html icon="arrow-right" %}</span></h1>
                </div>
            </section>
            {{ content }}
        </main>
        
    {% include shell/foot.html %}
    </body>
</html>