---
layout: default
---

<section class="section-with-overflow p-0 is-main-content testimonies">
    <ul class="none m-0 is-testimonies">
    {% assign documents = paginator.posts | sort: 'date' | reverse %}
    {% for item in documents %}        
        <li class="testimony-post">
            {{ item.testimony }}
            <div class="pt-2 nanotext">
                <a href="{{ item.testimony-link }}" class="d-flx al-i-c" target="_blank">
                {% if item.social-media == 'facebook' %}
                    {% include icons.html icon="facebook" %}
                {% elsif item.social-media == 'instagram' %}
                    {% include icons.html icon="instagram" %}
                {% elsif item.social-media == 'twitter' %}
                    {% include icons.html icon="twitter" %}
                {% endif %}

                <span class="co-faint-gray suffix">{{ item.name }}</span>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<!-- Modal Content for About Eyowo -->
{%- include components/about-eyw-modal.html -%}


