---
layout: default
---

<section class="section-with-overflow p-0 is-main-content testimonies">
    <ul class="none m-0 is-testimonies">
    {% assign documents = paginator.posts | sort: 'date' | reverse %}
    {% for item in documents %}        
        <li class="testimony-post">
            {{ item.testimony }}
            <div class="pt-1h d-flx al-i-c">
                <a href="{{ item.testimony-link }}">
                {% if item.social-media == 'facebook' %}
                    {% include icons.html icon="facebook" %}
                {% elsif item.social-media == 'instagram' %}
                    {% include icons.html icon="instagram" %}
                {% elsif item.social-media == 'twitter' %}
                    {% include icons.html icon="twitter" %}
                {% endif %}
                </a>
                <p class="co-faint-gray nanotext suffix">{{ item.name }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<!-- Modal Content for About Eyowo -->
{%- include components/about-eyw-modal.html -%}


