---
layout: default
---

<section class="section-with-overflow wrapper will-grow is-testimonies">
    <ul class="none m-0 is-testimonies-wrapper">
    {% assign documents = site.documents | where: 'master', true | sort: 'date' | reverse %}
    {% for item in documents %}        
        <li class="nanotext is-testimony">
            <p
            {% if item.social-media == 'facebook' %} class="testimony-content  borderline-facebook"
            {% elsif item.social-media == 'instagram' %} class="testimony-content  borderline-instagram"
            {% elsif item.social-media == 'twitter' %}class="testimony-content  borderline-twitter"
            {% endif %}">
                {{ item.testimony }}
            </p>
            <a href="{{ item.testimony-link }}" 
            {% if item.social-media == 'facebook' %} class="testimony-link bg-facebook"
            {% elsif item.social-media == 'instagram' %} class="testimony-link bg-instagram"
            {% elsif item.social-media == 'twitter' %}class="testimony-link bg-twitter"
            {% endif %} target="_blank">
                {% if item.social-media == 'facebook' %}
                    {% include icons.html icon="facebook" %}
                {% elsif item.social-media == 'instagram' %}
                    {% include icons.html icon="instagram" %}
                {% elsif item.social-media == 'twitter' %}
                    {% include icons.html icon="twitter" %}
                {% endif %}

                <span class="suffix is-wider">{{ item.name }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
</section>

<!-- Modal Content for About Eyowo -->
{%- include components/about-eyw-modal.html -%}


